body {
  background-color: #000;
  user-select: none;
}

.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding-left: 0;
}

#movieData:active {
  background-color: #aaa;
}

.radio-class {
  display: none;
  visibility: hidden;
}

.radio-label {
  display: inline-block;
  color: #eee;
  width: 100px;
}

#movieData {
  width: 100%;
  border: 5px solid black;
  border-left: 0;
  background-color: #eee;
  text-align: left;
}